# Assignment-8
# Dataset name: Titanic: Machine Learning from Disaster [https://www.kaggle.com/c/titanic/data]
# Description: Here, I have computed the analysis of what sorts of people were likely to survive in the titanic disaster. In particular I have computed: a) the total positive log-evidence,  b) the total negative log-evidence, c) probability distribution, d) top 3 features values that contribute most to the positive evidence, e) top 3 feature values that contribute the most to the negative evidence; using BernouilliNB classifier.

In [113]:
import pandas as pd
import csv
import statistics
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import *
import numpy
import scipy

In [114]:
data = pd.read_csv("C:\\Users\\ACHAL LATHIA\\Desktop\\CS595-01-master\\CS595-01-master\\CS595-01\\Titanic-train.csv")

In [115]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [116]:
data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [117]:
del data['Age']
del data['Cabin']
del data['Embarked']
del data['PassengerId']
del data['Name']
del data['Ticket']
del data['Fare']

In [118]:
data.SibSp = data.SibSp.astype(str)
data.Pclass = data.Pclass.astype(str)
data.Parch = data.Parch.astype(str)

## Binarize the features

In [119]:
data = pd.get_dummies(data)

In [120]:
data.head()

,Survived,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
0,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Creating train-test split

In [121]:
X_train,X_test,Y_train,Y_test=train_test_split(data.drop(['Survived'],axis=1),data['Survived'],train_size=0.67,test_size=0.33,random_state=442)

In [122]:
X_test.reset_index(inplace=True)
del X_test['index']

In [123]:
X_test.head()

,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Training BernouilliNB classifier on the train split

In [124]:
Ber=BernoulliNB()

In [125]:
Ber.fit(X_train,Y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [126]:
test_probability=Ber.predict_log_proba(X_test)

In [127]:
c_probability=Ber.class_log_prior_

In [128]:
positive_probability=Ber.feature_log_prob_   
negative_probability=numpy.log(1-numpy.exp(positive_probability))

In [129]:
positiveIndex=numpy.argmax(test_probability[:,0])        
negativeIndex=numpy.argmax(test_probability[:,1])

In [130]:
fv0 = positive_probability[0] - positive_probability[1]
fv1 = negative_probability[0] - negative_probability[1]

In [131]:
def probabilities():
    tpe = {}
    tne = {}
    positive_features = {}
    negative_features = {}
    index = 0
    for i in X_test.itertuples():
        p = 0
        n = 0
        if(c_probability[0]-c_probability[1]>0):
            p += c_probability[0] - c_probability[1]
        for j in range(0,len(i)-1):
            if(i[j]==0):
                if(fv0[j-1]>0):
                    p += fv0[j-1]
                    if(index not in positive_features):
                        positive_features[index] = [(X_test.columns[j-1],fv0[j-1])]
                    else:
                        positive_features[index].append((X_test.columns[j-1],fv0[j-1]))
                if(fv0[j-1]<0):
                    n += fv0[j-1]
                    if(index not in negative_features):
                        negative_features[index] = [(X_test.columns[j-1],fv0[j-1])]
                    else:
                        negative_features[index].append((X_test.columns[j-1],fv0[j-1]))
            if(i[j]==1):
                if(fv1[j-1]>0):
                    p += fv1[j-1]
                    if(index not in positive_features):
                        positive_features[index] = [(X_test.columns[j-1],fv1[j-1])]
                    else:
                        positive_features[index].append((X_test.columns[j-1],fv1[j-1]))
                if(fv1[j-1]<0):
                    n += fv1[j-1]
                    if(index not in negative_features):
                        negative_features[index] = [(X_test.columns[j-1],fv1[j-1])]
                    else:
                        negative_features[index].append((X_test.columns[j-1],fv1[j-1]))
        tpe[i[0]] = p
        tne[i[0]] = n
        index += 1
    #positive_features = sorted(positive_features,key=lambda x:x[1],reverse=True)
    #negative_features = sorted(negative_features,key=lambda x:x[1],reverse=True)
    return tpe,tne,positive_features,negative_features

## 1. The most positive object with respect to the probabilities.

In [132]:
tpe,tne,p_f,n_f = probabilities()

In [134]:
tpe[positiveIndex]

3.3576705861263791

In [135]:
tne[positiveIndex]

-8.3332797829838441

In [136]:
test_probability[positiveIndex]

array([-0.0138774 , -4.28442429])

In [137]:
p_f = sorted(p_f[positiveIndex],key=lambda x:x[1],reverse=True)
n_f = sorted(n_f[positiveIndex],key=lambda x:x[1],reverse=True)

In [138]:
p_f[:3]

[('SibSp_8', 1.1198896871153954),
 ('Parch_4', 0.60906406334940488),
 ('SibSp_3', 0.60906406334940444)]

In [139]:
n_f[:3]

[('Parch_3', -0.084083117210540514),
 ('Parch_5', -0.084083117210540514),
 ('SibSp_2', -0.13287328137997267)]

## 2. The most negative object with respect to the probabilities.

In [140]:
tpe,tne,p_f,n_f = probabilities()

In [141]:
tpe[negativeIndex]

6.988472852382186

In [142]:
tne[negativeIndex]

-1.3028047662511768

In [143]:
test_probability[negativeIndex]

array([ -6.39410699e+00,  -1.67277607e-03])

In [144]:
p_f = sorted(p_f[negativeIndex],key=lambda x:x[1],reverse=True)
n_f = sorted(n_f[negativeIndex],key=lambda x:x[1],reverse=True)

In [145]:
p_f[0:3]

[('SibSp_8', 1.1198896871153954),
 ('Sex_male', 0.99143345666291971),
 ('Sex_female', 0.99143345666291838)]

In [146]:
n_f[0:3]

[('Parch_3', -0.084083117210540514),
 ('Parch_5', -0.084083117210540514),
 ('SibSp_2', -0.13287328137997267)]

## 3. The object that has the largest positive evidence.

In [147]:
tpe,tne,p_f,n_f = probabilities()

In [148]:
idx = sorted(tpe.items(),key= lambda x:x[1],reverse=True)[0][0]
tpe[idx]

6.988472852382186

In [149]:
tne[idx]

-1.3028047662511768

In [150]:
test_probability[idx]

array([ -6.39410699e+00,  -1.67277607e-03])

In [151]:
p_f = sorted(p_f[idx],key=lambda x:x[1],reverse=True)
n_f = sorted(n_f[idx],key=lambda x:x[1],reverse=True)

In [152]:
p_f[0:3]

[('SibSp_8', 1.1198896871153954),
 ('Sex_male', 0.99143345666291971),
 ('Sex_female', 0.99143345666291838)]

In [153]:
n_f[0:3]

[('Parch_3', -0.084083117210540514),
 ('Parch_5', -0.084083117210540514),
 ('SibSp_2', -0.13287328137997267)]

## 4. The object that has the largest (in magnitude) negative evidence.

In [154]:
tpe,tne,p_f,n_f = probabilities()

In [155]:
idx = sorted(tne.items(),key= lambda x:x[1],reverse=True)[0][0]
tpe[idx]

6.988472852382186

In [156]:
tne[idx]

-1.3028047662511768

In [157]:
test_probability[idx]

array([ -6.39410699e+00,  -1.67277607e-03])

In [158]:
p_f = sorted(p_f[idx],key=lambda x:x[1],reverse=True)
n_f = sorted(n_f[idx],key=lambda x:x[1],reverse=True)

In [159]:
p_f[0:3]

[('SibSp_8', 1.1198896871153954),
 ('Sex_male', 0.99143345666291971),
 ('Sex_female', 0.99143345666291838)]

In [160]:
n_f[0:3]

[('Parch_3', -0.084083117210540514),
 ('Parch_5', -0.084083117210540514),
 ('SibSp_2', -0.13287328137997267)]

## 5. The most uncertain object (the probabilities are closest to 0.5)

In [161]:
tpe,tne,p_f,n_f = probabilities()
x1 = numpy.abs(test_probability-0.5)
idx = numpy.where(x1==x1.min())

In [162]:
idx

(array([ 6, 44], dtype=int64), array([1, 1], dtype=int64))

In [163]:
test_probability[idx[0],idx[1]]

array([-0.00167278, -0.00167278])

In [164]:
tpe[idx[0][0]]

6.988472852382186

In [165]:
tne[idx[0][1]]

-1.3028047662511768

In [166]:
p_f = sorted(p_f[idx[0][0]],key=lambda x:x[1],reverse=True)
n_f = sorted(n_f[idx[0][1]],key=lambda x:x[1],reverse=True)

In [167]:
p_f[0:3]

[('SibSp_8', 1.1198896871153954),
 ('Sex_male', 0.99143345666291971),
 ('Sex_female', 0.99143345666291838)]

In [168]:
n_f[0:3]

[('Parch_3', -0.084083117210540514),
 ('Parch_5', -0.084083117210540514),
 ('SibSp_2', -0.13287328137997267)]